<div class="container">
  <div class="header">
    <h2>Job Title: {{jobPosting.JobTitle}}</h2>
    <h2>Location: {{jobPosting.Location}}</h2>
  </div> 

  <div *ngIf="jobPosting">
    <div [innerHTML]="sanitizedContent"></div>
  </div>

  <div class="buttons">
    <button class="btn-apply" (click)="apply()" *ngIf="!applied"><i class="bi bi-send-arrow-down-fill"></i>Apply Now</button>
    <button class="btn-get" (click)="getApplication()" *ngIf="applied"><i class="bi bi-folder2-open"></i>Show Application</button>
  </div>
</div>

